@charset "utf-8";

// Bulma variables
$primary: #8a4d76;
$link: #fa7c91;

// Import Bulma + Rails styles
@import "bulma/bulma";
@import "trix/dist/trix";
@import "actiontext";

.invisible {
  display: none;
}

figure.image img {
  object-fit: cover !important;
}

trix-editor {
  min-height: 90%;
}

.messages-container {
  display: block;
  overflow-y: scroll;
}

.modal .messages-container {
  max-height: 40vh;
}

$content-space: calc(100vh - 3.25rem);

#conversations {
  height: $content-space;
  overflow-y: scroll;
}

turbo-frame#conversation {
  form {
    height: 8em;

    textarea {
      min-height: 4em !important;
    }
  }

  .messages-container {
    height: calc(#{$content-space} - 12em);
  }
}
