<!DOCTYPE html>>
<html>
  <head>
    <%= render "layouts/head" %>
  </head>
  <body>
    <main>
      <layout-columns class="columns is-centered">
        <layout-column class="column is-7">
          <%= yield %>
        </layout-column>
      </layout-columns>
    </main>
  </body>
</html>